$color__white : #fff;
$color__black : #000;
$blackDark : rgba(0, 0, 0, .2);
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$silverlight: #aaa;
$silverDark: #777;
$silverLight-50 : r#d4cfcf;
$color__orange : orange;
$silverLight-40: #f6f6fb;
$orange : #FBBF24;
$green : #34D399;

